:root {
	/* Color Palette */
	--burgundy: #683839;
	--teal: #4d6061;
	--blue: #4b535b;
	--white: #ebeadc;
	--orange: #ac775c;
	--brown: #52453c;
	--black: #222;
}

body {
	font-family: Montserrat, sans-serif;
	overflow: hidden;
	background-color: var(--brown);
}

a {
	color: var(--white) !important;
	transition: all 0.3s;
}

a:hover {
	color: var(--white);
	text-shadow: 0 0 10px var(--black);
	transition: all 0.3s;
}